# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log
log/

# Data
data/